.techOverviewContainer {
    padding: 32px;
    background-color: grey;
    text-align: center;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    border: black solid;
  }
  
  .title {
    font-size: 2.125rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .description {
    margin-bottom: 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .chipsContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }
  
  .chip {
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .chipPrimary {
    background-color: #6de5e5;
    color: rgb(19, 18, 18);
  }
  
  .chipSecondary {
    background-color: #9c27b0;
    color: white;
  }
  
  .chipOutlined {
    background-color: #0b924a;
    color: #e9ecec;
    border: 1px solid #1976d2;
  }